@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap');

.side-drawer {
    position: fixed;
    height: 100%;
    overflow: auto;
    background: rgb(63,118,58);
    background: linear-gradient(180deg, rgba(63,118,58,1) 31%, rgba(23,84,14,1) 95%);
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 100;
    padding: 0;
    display: flex;
    flex-direction: column;


}

#side-drawer-items {
    background-color: #6ba25b;
    margin: 1rem;
    border: 2px  white solid;
    border-radius: 5px;
    width: 70%;
    height: auto;
    text-align: center;
    padding: .5rem;
}

#side-drawer-items:hover {
    background-color: #17540e;
}
#side-drawer-items:active {
    background-color: #17540e;
}

.MuiExpansionPanelSummary-content {
    justify-content: center;
}

.MuiList-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MuiExpansionPanelDetails-root {
    justify-content: center;
}

#side-drawer-items-content {
    font-family: bebas neue;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#17540e;
    border-radius: 5px;
    width: 100vw;
    height: 300px;
    text-align: center;
    padding: 1rem;
}

.sub-menu-content {
    font-family: bebas neue;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.MuiButton-root {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: .2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-left: 1rem;
    z-index: 200;
}

span.MuiButton-label {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 40px;
    margin-top: .9rem;
}

#drawer-button:focus {
    outline: none;
}

.button-line {
    width: 30px;
    height: 2px;
    background: white;
}

@media (max-width: 768px) {

    #side-drawer-items-content {
      font-size: 1.2rem;
    }

    .sub-menu {
        padding: 10px;
    }
}