@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap');

/* ------ General Formatting ------- */
html {
    background: url(./images/basilbackground.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    z-index: 0;
}

body{
    height: auto;
    width: auto;
    font-family: bebas neue;
    letter-spacing: 1.5px;
}

h2 {
    font-family: righteous;
    margin: 0;
    padding: 3px 0 3px 0;
}

h3 {
    font-family: righteous;
    padding: 10px;
}

/* ------ Static Display Formatting ------ */
#static {
    display: flex;
    justify-content: space-around;
    height: 87.5vh;
    width: 100%;
    margin-top: 20px;
    min-width: 1450px;
    min-height: 650px;
}

#sensors {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 75%;
}

.gauges {
    display: flex;
}

#sensor-top {
    display: flex;
    height: 70%;
}

#sensor-critical {
    width: 57%;
    height: 97%;
    margin-left: 2%;
}

#sensor-critical h2 {
    font-size: 3rem;
}

#sensor-critical h3 {
    font-size: 3rem;
}

#sensor-mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 37%;
    height: 97%;
    margin-left: 2%;
}

#sensor-mid h2 {
    font-size: 1.75rem;
}

#sensor-mid h3 {
    font-size: 1.8rem;
}

.mid-sensors {
    width: 100%;
    height: 47%;
}

#sensor-bottom {
    display: flex;
    width: 100%;
    height: Calc(27% + 5px);
    padding-top: 1.5%;
}

#sensor-bottom h2 {
    font-size: 1.5rem;
}

#sensor-bottom h3 {
    font-size: 1.5rem;
}

.bottom-sensors {
    width: 30.66%;
    height: 100%;
    margin-left: 2%;
}

.dashboard-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    background-color: rgb(25,25,25, .85);
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
}

.sensor-header {
    position: absolute;
    top: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    height: 17.5%;
    color: whitesmoke;
    padding-bottom: 10px;
    border-bottom: 3px solid whitesmoke;
    text-align: center;
}

.symbol-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.temp-sym, .hum-sym, .ec-sym, .ph-sym {
    height: 90%;
    opacity: .75;
}

.symbol-image {
    height: 100%;
    width: auto;
    filter: invert(100)
}

.sensor-text-wrapper-123 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 20%;
    margin-bottom: 2.5%;
}

.sensor-text-wrapper-456 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 20%;
    margin-bottom: 15%;
    font-size: x-large;
}

.white-bar {
    height: 100%;
    width: 1.5%;
    border-radius: 5px;
    background-color: whitesmoke;
}

#white-bar-break {
    width: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
}

#manage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin-right: .5%;
}

.manage-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    text-align: center;
    background-color: rgb(25,25,25, .85);
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
    padding-bottom: 5px;
}

.manage-cell p {
    margin: 1px;
}

.manage-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    border-bottom: 3px solid whitesmoke;
    color: whitesmoke;
    padding-bottom: 5px;
}

.manage-data{
    width: 95%;
    font-size: 1.2rem;
    background-color: rgb(168, 152, 138);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 2px whitesmoke;
}

/* ------- Query form formatting ------- */

#user {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    min-height: 800px;
    min-width: 1200px;
}

#query-form {
    width: 45%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#query-params {
    width: Calc(98% + 6px);
    height: 17.5%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 1.3rem;
    background-color: rgb(25,25,25, .85);
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
    order: 3;
}

#query-params p {
    margin: 1.5px;
}

.query-text {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#calendar-time {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: auto;
}

.cal-time {
    width: 45%;
    height: auto;
    padding: 2%;
    color: whitesmoke;
    text-align: center;
    background-color: rgb(25,25,25, .85);
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
}

.DayPicker {
    width: Calc(100% - 4px);
    background-color: rgb(133, 118, 110);
    border: 2px solid black;
    border-radius: 10px;
    color: rgb(23, 84, 14);
    font-weight: bold;
    font-size: 1.1rem;
}

.query-field {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px dashed rgb(168, 152, 138);
}

.white-bar-query {
    height: 70%;
    width: 3px;
    margin-top: 5px;
    background-color: whitesmoke;
}

.query-field p {
    margin: 5px 0 5px 0;
}

#form-measurements {
    display: flex;
    justify-content: space-between;
    width: Calc(98% - 14px);
    color: white;
    background-color: rgb(25,25,25, .85);
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
    margin-top: 10px;
    padding: 10px;
}

input[type='radio'] {
    -ms-transform: scale(1.25); 
    -webkit-transform: scale(1.25); 
    transform: scale(1.25);
}

#radio-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.1rem;
}

#measurement-radio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    height: 100%;
}

#form-submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#form-submit {
    background-color: rgb(168, 152, 138);
    border: 2px solid rgb(133, 118, 110);
    border-radius: 10px;
    width: 50%;
    font-weight: bold;
    color: black;
    font-size: 1.25rem;
}

#form-submit:hover {
    cursor: pointer;
    background-color: rgb(133, 118, 110);
    border: 2px solid rgb(168, 152, 138);
}

#form-submit:disabled {
    cursor: auto;
    color: gray;
    background-color: lightgray;
}

/* Sensor List */
#all-sensors {
    position: relative;
    overflow: hidden;
    width: 45%;
    height: 99%;
    background-color: rgb(25,25,25, .85);
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
}

#all-sensor-scroll {
    position: absolute;
    overflow: auto;
    top: 0;
    width: Calc(100% + 20px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sensor-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 100px;
    background-color: rgb(168, 152, 138);
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px 0 5px 0;
}

.sensor-list-container:hover {
    cursor: pointer;
    background-color: rgb(107, 162, 91);;
}

.sensor-list-item {
    display: flex;
    width: 95%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.sensor-list-item p {
    font-size: 1.6rem;
    margin: 2px;
}

.sensor-item-container {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.sensor-item-measurement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    border-radius: 10px;
    background-color: rgb(62, 88, 58);
    color: rgb(247, 219, 195)
}

.sensor-item-measurement p {
    margin: 2px;
}


/* ------------------------------------ */


/* Time wheel formatting for query form */
.time-wheel {
    position: relative;
    width: 100%;
    text-align: center;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 5px;
}

.time-scroll {
    position: absolute;
    top: 0;
    width: Calc(100% + 20px);
    overflow: auto;
    height: 120px;
}

.time-click {
    border-bottom: 1px dashed black;
    background: rgb(168, 152, 138);
    margin: 1px 0 1px 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.time-click p {
    color: black;
    margin: 0;
    padding: 10px;
    pointer-events: none;
}

.selected-time {
    background-color: rgb(107, 162, 91);
}

.time-click:hover {
    background-color: rgb(107, 162, 91);
    cursor: pointer;
}
/* ------------------------------------ */

/* Sensor wheel formatting for query form */
.sensor-wheel {
    position: relative;
    width: 70%;
    text-align: center;
    height: 125px;
    border-radius: 10px;
    overflow: hidden;
}

.wheel-fade-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    z-index: 5;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgb(75,75,75), rgb(112, 128, 144, 0));
}

.wheel-fade-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    z-index: 5;
    pointer-events: none;
    background-image: linear-gradient(to top, rgb(75,75,75), rgb(112, 128, 144, 0));
}

.sensor-scroll {
    position: absolute;
    top: 0;
    width: Calc(100% + 20px);
    overflow: auto;
    height: 125px;
}

.sensor-click {
    border-bottom: 1px dashed black;
    background: rgb(168, 152, 138);
    margin: 1px 0 1px 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.sensor-click p {
    color: black;
    margin: 0;
    padding: 10px;
    pointer-events: none;
}

.selected-sensor {
    background-color: rgb(107, 162, 91);
}

.sensor-click:hover {
    background-color: rgb(107, 162, 91);
    box-shadow: 0 0 5px rgb(100, 240, 165);
    cursor: pointer;
}
/* ------------------------------------ */


/* ------ Chart Modal Formatting ------ */
#chart-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    top: 10vh;
    left: 12.5vw;
    background: rgb(247, 219, 195);
    border: 5px solid black;
    box-shadow: 0 0 20px whitesmoke;
    border-radius: 10px;
    width: 75vw;
    height: 75vh;
}

#chart-head {
    height: 10%;
    width: Calc(100% - 20px);
    border-bottom: 3px dashed rgb(168, 152, 138);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    min-height: 50px;
    padding: 0 10px 0 10px;
    background-color: rgb(62, 88, 58);
    font-size: 1.75rem;
    font-weight: bold;
}

#chart {
    height: Calc(85% - 40px);
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    }
.testTime:hover { 
    color: gray;
    cursor: pointer;
}

/*----------------Gauges----------------*/
#gauges{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin-top: 1px;
    
}


.chart-close-container {
    width: 15%;
}

.chart-close {
    background-color: rgb(168, 152, 138);
    border: 2px solid rgb(133, 118, 110);
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    color: black;
    font-size: 1.25rem;
}

.chart-close:hover {
    cursor: pointer;
    background-color: rgb(133, 118, 110);
    border: 2px solid rgb(168, 152, 138);
}



@media (max-width: 768px) {

    body {
        width: auto;
        height: auto;
    }
    
    #user {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        min-width: 100px;
        min-height: 100px;
    }

    #query-form {
        width: 90%
    }

    #query-params {
        font-size: 1rem;
        height: 120px;
        order: 4;
    }

    .query-text {
        width: 48%;
    }

    #calendar-time {
        flex-direction: column;
        align-items: center;
    }

    .cal-time {
        width: 95%;
        margin-bottom: 20px;
    }

    #all-sensors {
        width: 90%;
        height: 400px;
        margin-bottom: 20px;
    }

    .sensor-list-container {
        width: 90%;
        margin-right: 20px;
        height: 75px;
    }

    .sensor-list-item h2 {
        font-size: 1.5rem;
    }

    .sensor-item-measurement p {
        font-size: 1rem
    }

    #form-measurements {
        margin-bottom: 20px;
    }

    #radio-form {
        height: 100%;
        justify-content: space-between;
        font-size: 1rem;
    }

    .sensor-wheel {
        width: 55%;
    }

    #measurement-radio {
        height: 125px;
        width: 40%;
    }
}

