body{
    height: auto;
    width: auto;
    background-color: rgb(75,75,75);
}

h2 {
    margin: 0;
    padding: 3px 0 3px 0;
}

h3 {
    padding: 10px;
    background-color: rgb(20, 50, 60);
    border: 3px solid rgb(20, 100, 135)
}

#static {
    display: flex;
    justify-content: space-around;
    height: 87.5vh;
    width: 100%;
    margin-top: 20px;
}

#sensors {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 75%;
}

.gauges {
    display: flex;
}

#sensor-top {
    display: flex;
    height: 70%;
}

#sensor-critical {
    width: Calc(57% - 10px);
    height: Calc(97% - 10px);
    border: 5px inset rgb(50,50,50);
    margin-left: 2%;
}

#sensor-critical h2 {
    font-size: 3rem;
}

#sensor-critical h3 {
    margin-top: 5%;
    font-size: 3rem;
}

#sensor-mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 37%;
    height: 97%;
    margin-left: 2%;
}

#sensor-mid h2 {
    font-size: 1.75rem;
}

#sensor-mid h3 {
    margin-top: 5%;
    font-size: 1.8rem;
}

.mid-sensors {
    width: Calc(100% - 10px);
    height: 47%;
    border: 5px inset rgb(50,50,50);
}

#sensor-bottom {
    display: flex;
    width: 100%;
    height: 27%;
    padding-top: 1.5%;
    border-top: 5px dashed rgb(20, 100, 135);
}

#sensor-bottom h2 {
    font-size: 1.5rem;
}

#sensor-bottom h3 {
    margin-top: 2%;
    font-size: 1.5rem;
    margin-bottom: 17.5%;
}

.bottom-sensors {
    width: Calc(30.66% - 10px);
    height: Calc(100% - 10px);
    margin-left: 2%;
    border: 5px inset rgb(50,50,50);
}

.dashboard-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    background-color: rgb(100,100,100);
}

.sensor-header {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: Calc(100% - 6px);
    height: 17.5%;
    border: 3px solid rgb(20, 100, 135);
    background-color: rgb(20, 50, 60);
    color: rgb(100, 240, 165);
    text-align: center;
}

#manage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: Calc(25% - 10px);
    margin-right: 1.5%;
    border: 5px inset rgb(50,50,50);
    background-color: rgb(25,25,25);
}

.manage-cell {
    height: 33.33%;
    width: 100%;
    text-align: center;
}

.manage-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: Calc(100% - 6px);
    border: 3px solid rgb(20, 100, 135);
    background-color: rgb(20, 50, 60);
    color: rgb(100, 240, 165);
}

.manage-data{
    color: white;
    font-family: monospace;
    font-size: 1.4rem;
}

/* Query form formatting */

#user {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

#query-form {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#query-params {
    width: Calc(98% + 6px);
    border: 2px solid black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 50, 60);
    color: rgb(100, 240, 165);
    font-weight: bold;
}

#calendar-time {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: auto;
}

.cal-time {
    width: 45%;
    height: auto;
    padding: 2%;
    border: 2px solid black;
}

.DayPicker {
    width: Calc(100% - 4px);
    background-color: rgb(20, 50, 60);
    border: 2px solid black;
    color: rgb(100, 240, 165);
    font-weight: bold;
}

.query-field {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px dashed black;
}

.query-field p {
    margin: 5px 0 5px 0;
}

#form-measurements {
    display: flex;
    justify-content: space-between;
    width: Calc(98% - 14px);
    border: 2px solid black;
    margin-top: 10px;
    padding: 10px;
}

input[type='radio'] {
    -ms-transform: scale(1.25); 
    -webkit-transform: scale(1.25); 
    transform: scale(1.25);
}

#radio-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
}

#measurement-radio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    height: 100%;
}

#form-submit {
    background-color: slategray;
    border: 2px solid rgb(20, 100, 135);
    font-weight: bold;
    color: black;
    font-size: 1.25rem;
}

#form-submit:disabled {
    color: gray;
    background-color: lightgray;
}

/* Sensor List */
#all-sensors {
    position: relative;
    overflow: hidden;
    width: 45%;
    height: 100%;
    border: 2px solid black;
}

#all-sensor-scroll {
    position: absolute;
    overflow: auto;
    top: 0;
    width: Calc(100% + 20px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sensor-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 100px;
    background-color: slategray;
    border: 2px solid black;
    margin: 5px 0 5px 0;
}

.sensor-list-container:hover {
    cursor: pointer;
    background-color: rgb(20, 100, 135);
}

.sensor-list-item {
    display: flex;
    width: 95%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.sensor-list-item p {
    font-size: 1.25rem;
    font-weight: bold;
}

.sensor-item-container {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.sensor-item-measurement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    border: 2px solid rgb(20, 100, 135);
    background-color: rgb(20, 50, 60);
    color: rgb(100, 240, 165)
}

.sensor-item-measurement p {
    margin: 4px;
}


/* ------------------------------------ */


/* Time wheel formatting for query form */
.time-wheel {
    position: relative;
    width: 100%;
    text-align: center;
    height: 150px;
    overflow: hidden;
}

.time-scroll {
    position: absolute;
    top: 0;
    width: Calc(100% + 20px);
    overflow: auto;
    height: 150px;
}

.time-click {
    border-bottom: 1px dashed black;
    background: slategray;
    margin: 1px 0 1px 0;
    padding: 0;
    font-weight: bold;
}

.time-click p {
    margin: 0;
    padding: 10px;
    pointer-events: none;
}

.selected-time {
    background-color: rgb(20, 50, 60);
    color: rgb(100, 240, 165);
}

.time-click:hover {
    background-color: rgb(20, 50, 60);
    color: rgb(100, 240, 165);
    cursor: pointer;
}
/* ------------------------------------ */

/* Sensor wheel formatting for query form */
.sensor-wheel {
    position: relative;
    width: 70%;
    text-align: center;
    height: 150px;
    overflow: hidden;
}

.wheel-fade-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    z-index: 5;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgb(75,75,75), rgb(112, 128, 144, 0));
}

.wheel-fade-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    z-index: 5;
    pointer-events: none;
    background-image: linear-gradient(to top, rgb(75,75,75), rgb(112, 128, 144, 0));
}

.sensor-scroll {
    position: absolute;
    top: 0;
    width: Calc(100% + 20px);
    overflow: auto;
    height: 150px;
}

.sensor-click {
    border-bottom: 1px dashed black;
    background: slategray;
    margin: 1px 0 1px 0;
    padding: 0;
    font-weight: bold;
}

.sensor-click p {
    margin: 0;
    padding: 10px;
    pointer-events: none;
}

.selected-sensor {
    background-color: rgb(20, 50, 60);
    color: rgb(100, 240, 165);
}

.sensor-click:hover {
    background-color: rgb(20, 50, 60);
    color: rgb(100, 240, 165);
    cursor: pointer;
}
/* ------------------------------------ */


/* ------ Chart Modal Formatting ------ */
#chart-modal {
    position: absolute;
    z-index: 10;
    top: 10vh;
    left: 12.5vw;
    background: whitesmoke;
    border: 5px solid black;
    width: 75vw;
    height: 75vh;
}

#chart-head {
    height: 10%;
    border-bottom: 3px dashed slategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    min-height: 50px;
    padding: 0 10px 0 10px;
    background-color: rgb(20, 50, 60);
    color: rgb(100, 240, 165);
    font-size: 1.75rem;
    font-weight: bold;
}

#chart {
    height: Calc(90% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    }
.testTime:hover { 
    color: gray;
    cursor: pointer;
}

/*----------------Gauges----------------*/
.gauges{
    display: flex;
    border: 3px solid rgb(20, 100, 135);
    background-color: rgb(20, 50, 60);
    color: rgb(100, 240, 165);
    padding: 3px;
    margin-top: 1px;
    
}

