body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(79,81,82);
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgb(12,83,105);
  background: linear-gradient(180deg, rgba(12,83,105,1) 21%, black 100%);
  
}

#home-button {
  background-color: rgb(79,81,82);
  color:white;
  margin: 0 0.5rem;
  border: 2px  white solid;
  border-radius: 5px;
  font-family: "Baloo Bhai", cursive;
}

#home-button:hover {
  background-color: black;
}

#static-button {
  background-color: rgb(79,81,82);
  color: white;
  margin: 0 0.5rem;
  border: 2px  white solid;
  border-radius: 5px;
  font-family: "Baloo Bhai", cursive;
}

#static-button:hover {
  background-color: black;
}

#user-button {
  background-color: rgb(79,81,82);
  color: white;
  border: 2px  white solid;
  border-radius: 5px;
  margin: 0 0.5rem;
  font-family: "Baloo Bhai", cursive;
}

#user-button:hover {
  background-color: black;
}

#static-header {
  display: flex;
  justify-content: center;
  height: 40px;
}

.home-header {
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
}

.links {
  display: flex;
}


#clock {
  color: white;
  text-align: center;
  width: 100px;
  grid-row-start: auto;
  margin-top: 0px;
  background-color: rgb(79,81,82);
  color: white;
  border: 2px  white solid;
  border-radius: 5px;
  margin: 5px;
  font-family: "Baloo Bhai", cursive;
  
}